* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.how-it-works h2 {
  color: orange;
  text-align: center;
}
.donate p {
  text-align: center;
  padding: 30px;
}
.sign-up p {
  text-align: center;
  padding: 30px;
}
.how {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}
.how-it-works {
  padding: 50px;
  text-align: center;
}
.why {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}
h2 {
  text-align: center;
}
.why-join {
  padding: 50px;
  background-color: rgb(220, 244, 236);
  text-align: center;
}
.donate {
  background-color: rgb(80, 173, 80);
  color: white;
  text-align: center;
  padding: 50px;
}
.donate button {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 12px;
  border: 2px solid white;
}
.sign-up {
  text-align: center;
  padding: 30px;
}
.sign-up button {
  background-color: black;
  color: whitesmoke;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
}
.foot {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(13, 13, 26);
  color: whitesmoke;
  padding: 50px;
}
.quick-links a {
  text-decoration: none;
  color: whitesmoke;
}
.support a {
  text-decoration: none;
  color: white;
}
.icons {
  display: flex;
  gap: 16px;
}
hr {
  border: 2px solid white;
}
