* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  background-color: white;
  padding: 15px 15px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.fa-shopping-cart {
  margin: 15px;
  color: black;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
nav ul li {
  display: inline;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 5px;
  transition: color 0.3s ease;
}
nav ul li a:hover {
  color: #1abc9c;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}
.nav-buttons .login {
  background-color: white;
  border: 2px solid #4caf50;
  color: #4caf50;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}
.nav-buttons .signup {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}
.nav-buttons .login:hover {
  background-color: #4caf50;
  color: white;
}
.nav-buttons .signup:hover {
  background-color: #45a049;
}

.how-it-works h2 {
  color: orange;
  text-align: center;
}
.donate p {
  text-align: center;
  padding: 30px;
}
.sign-up p {
  text-align: center;
  padding: 30px;
}
.how {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}
.how-it-works {
  padding: 50px;
  text-align: center;
}
.why {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}
h2 {
  text-align: center;
}
.why-join {
  padding: 50px;
  background-color: rgb(220, 244, 236);
  text-align: center;
}
.donate {
  background-color: rgb(80, 173, 80);
  color: white;
  text-align: center;
  padding: 50px;
}
.donate button {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 12px;
  border: 2px solid white;
}
.sign-up {
  text-align: center;
  padding: 30px;
}
.sign-up button {
  background-color: green;
  color: whitesmoke;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
}
.foot {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(13, 13, 26);
  color: whitesmoke;
  padding: 50px;
}
.quick-links a {
  text-decoration: none;
  color: whitesmoke;
}
a {
  text-decoration: none;
  color: white;
}
.icons {
  display: flex;
  gap: 16px;
}
hr {
  border: 2px solid white;
}
