* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  background: #f5f5f5;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}
.sidebar {
  width: 220px;
  background: #e5f3e0;
  padding: 20px;
  height: 100vh;
}
.sidebar h2 {
  margin-bottom: 20px;
}
.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin: 10px 0;
  cursor: pointer;
}
.sidebar li .active {
  font-weight: bold;
}
.logout {
  margin-top: 20px;
  padding: 8px;
  width: 100px;
}
.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f5f5f5;
}
.tracking-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.tracking-buttons button {
  padding: 12px;
  border: 2px solid orange;
  border-radius: 5px;
  color: gray;
}
.tracking-buttons button:active {
  background-color: orange;
  color: white;
}
.veg-order {
  margin: 30px;
  border: 2px solid white;
  background-color: white;
}
.order-details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  font-weight: lighter;
}
.status-buttons {
  display: flex;
  gap: 8px;
}
.approve button {
  background-color: green;
  padding: 12px;
  border: 2px solid green;
  border-radius: 5px;
}
.decline button {
  padding: 12px;
  border: 2px solid white;
  border-radius: 5px;
}
