* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  text-align: center;
}
.how {
  display: flex;
  justify-content: space-evenly;
}
.why {
  display: flex;
  justify-content: space-evenly;
}
